<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
            <form>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="username"
                      name="username"
                      class="form-control"
                      [(ngModel)]="registerUser.username"
                    />
                    <label class="form-label" for="username">Username</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      [(ngModel)]="registerUser.password"
                    />
                    <label class="form-label" for="password">Password</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="knownAs"
                      name="knownAs"
                      class="form-control"
                      [(ngModel)]="registerUser.knownAs"
                    />
                    <label class="form-label" for="knownAs">Your Name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input
                      type="email"
                      id="eamil"
                      name="email"
                      class="form-control"
                      [(ngModel)]="registerUser.email"
                    />
                    <label class="form-label" for="email">Email</label>
                  </div>
                </div>
              </div>
 
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <input
                      type="text"
                      class="form-control"
                      id="dateOfBirth"
                      name="dateOfBirth"
                      [(ngModel)]="registerUser.dateOfBirth"
                    />
                    <label for="dateOfBirth" class="form-label">Birthday</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <select
                      class="select form-control"
                      id="gender"
                      name="gender"
                      [(ngModel)]="registerUser.gender"
                    >
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                    <label class="form-label select-label">Gender</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline w-100">
                    <input
                      type="text"
                      class="form-control"
                      id="city"
                      name="city"
                      [(ngModel)]="registerUser.city"
                    />
                    <label for="city" class="form-label">City</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline w-100">
                    <input
                      type="text"
                      class="form-control"
                      id="avatar"
                      name="avatar"
                      [(ngModel)]="registerUser.avatar"
                    />
                    <label for="avatar" class="form-label">Avatar</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <textarea
                    id="introduction"
                    name="introduction"
                    class="form-control"
                    [(ngModel)]="registerUser.introduction"
                  ></textarea>
                  <label class="form-label" for="introduction">
                    Introduction
                  </label>
                </div>
              </div>
 
              <div class="mt-4 pt-2">
                <input
                  class="btn btn-primary btn-lg"
                  type="button"
                  value="Submit"
                  (click)="register()"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
